<div *ngIf="!animalData" class="d-flex align-items-center justify-content-center flex-column">
    <div class="h-50">
        <app-content-svg></app-content-svg>
        <h3 style="
            justify-content: center;
            align-items: center;
            display: flex;"
            >There is no content here</h3>
    </div>
</div>
<div class="p-5">
    <h3>Animals</h3>
    <button (click)="navigateToTable()">
        Go to Table
      </button>
  </div>

  <div class="p-5">
      <router-outlet></router-outlet>
  </div>

