.example-spacer {
    flex: 1 1 auto;
  }

  .nav-link{
    cursor: pointer;
    border-radius: 7px;
  }
  .nav-link.active{
    cursor: pointer;
    background-color: rgba(111, 184, 245, 0.541);
  }

  .nav-link:hover {
    cursor: pointer;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    top: 0;
  left: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Ensures it's above other content */
  background-color: rgb(209, 225, 255);
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    background-color: rgb(209, 225, 255) !important;

    
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  mat-sidenav{
    background-color: rgb(209, 225, 255) !important;
  }
  a:hover{
    background-color: rgba(111, 184, 245, 0.541) !important;  
    outline: none !important;
  }

  a:focus {
    outline: none !important; /* Remove default focus outline */
    background-color: rgba(111, 184, 245, 0.541) !important; /* Prevent background color change */
}
