<div *ngIf="!flowerData" class="d-flex align-items-center justify-content-center flex-column">
    <div class="h-50">
        <app-svg-display class="svg d-flex" ></app-svg-display>
        <h3 style="
        justify-content: center;
        align-items: center;
        display: flex;"
        >There is nothing here</h3>
    </div>
</div>

<div class="p-5">
    <h3>Flowers</h3>
    <!-- <button [tableData]="flowerData" [tableColumns]="flowerColumns" routerLink="/home-table">click</button> -->
    <button routerLink="/table-home">click</button>
    <div>
        <app-table-module *ngIf="this.router.url === '/table-home'" [tableData]="flowerData" [tableColumns]="flowerColumns"></app-table-module>
    </div>
  </div>

  <router-outlet></router-outlet>
