.container{
    height: 70vh;
}


::ng-deep .error .mdc-notched-outline.mdc-notched-outline--upgraded {
    background-color: #ff000013; 
  }
 
  .error.border{
    border-color: #ffacac !important;
}

.h-6{
    font-size: 13px;
}

.inp{
    color: black !important;
}